body {
	background-color: #B2E9FD;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.movie-1 {
	/* margin-top: -30px; */
	font-weight: bold;
}

.sum{
	display: flex;
    flex-flow: column;
}
.save{
	display: flex;
    flex-flow: column;
}
.home-btn{
	display: inline-flex;
	flex-flow: column;
	font-size: 30px;
}
.spz{
	display: flex;
	justify-content: space-evenly;
}
.cd-algn{
	display: flex;
	justify-content: space-between;
}
.card-subtitle{
	display: flex;
	flex-flow: column-reverse;
}
.card-title{
	display: flex;
}
